@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Nabla&family=Special+Gothic+Expanded+One&family=Vast+Shadow&display=swap');
* {
  padding: 0;
  margin: 0;
font-family: 'Poppins', sans-serif; /* Default font for body */
font-size: 16px; /* Base size */

}
:root {
    --neon-blue: #5089d4;
    --colorlogo: #4464ca;
    --neon-pink: #56cfe1;
    --dark-bg: #0a0a0a;
    --darker-bg: #050505;
    --accent: rgb(42, 135, 197);
    --accent-glow: rgba(63, 52, 212, 0.4);
    --text: white;
    --memar-bg: #040424be;
}

html {
  scroll-behavior: smooth;
}



 /*.........................Loader screen .........................*/


 /*.........................nav-links.........................*/
 .nav-home{
    position: fixed;
    display: flex;

    align-items: center ;
    flex-direction: column;
    justify-content: center;

    width: 25vh;
    height: 85vh;

    z-index: 1000;
    animation: tran-scroll 1s ease forwards;
}

.nav-logo{
    width: 250px;
    height: auto;
}

/*.........................Social links.........................*/
.social-links {
    gap: 10px;
    padding: 2px 2px 20px 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 0;
    transition: transform 0.3s ease, color 0.3s ease;    
}
.social-links a {
    color: #a8a9b4;
}
.social-links a:hover i {
    color: #157992;
    transform: scale(1.1)translateY(-1px);
    transition: all 0.4s ease;
}

/*.........................navigation.........................*/
.nav-links{
    line-height: 2rem;
    color: black;
    padding: 0 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    transition: 0.3s ease;
     gap: 5px;
}
.nav-links a {
    display: flex;
     text-decoration: none;
     color: #a8a9b4;    
}
.nav-links a i {
    transition: transform 0.3s ease;
}
.nav-links a span {
    display: inline-block;  
    transition: transform 0.3s ease, color 0.3s ease;
}
.nav-links a.active i {
    transform: translateX(-20px);   /* icon moves left */
}

.nav-links a.active span {
    color: #157992;
    font-weight: 600;               /* font-weight 420 is invalid; use 400, 500, 600... */
    transform: scale(1.2);
}

/* Keep your hover as well */
.nav-links a:hover i {
    transform: translateX(-10px);
}
.nav-links a:hover span {
    color: #157992;
    font-weight: 600;
    transform: scale(1.2);
}

.bi {
    color:  #157992;
    margin-right: 0.6em;
    font-size: 20px;

}

/*.........................hero section.........................*/
.hero {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 62vh;
    padding: 80px 0;
    position: relative;

    

}

#hero > div > div > h1 {
  font-family: "Boldonse", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 3.6rem;  
}

#hero > div > div > div > a {
    color: white;
}

.main-container {
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 25vh ;
    margin-right: 7vh ;
    width: 80%;
    gap: 20px;
    min-height: 55vh;
    opacity: 0;
    animation: slideUp 1s ease-out forwards;
}

.container-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 40%;
}
.container-item p {
    padding: 5px 5px 20px 5px;
    font-weight: 400;
    font-size: 1.1rem;

}
.container-item p span{
    font-weight: 400;
    font-size: 1.1rem;
   
}


.hero-type {
    position: relative;
    width: max-content;
    padding-bottom: 3px;
}
.hero-type::after {
    position: absolute;
    content: '';
    height: 1.2px;
    width: 100%;
    background:#157992;
    bottom: 0;
    left: 0;
}



/*.........................button for Download CV.........................*/
.btn{
    height: 50px;
    width: 180px;
    background: #37D7FF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    cursor: pointer;
 
}
.btn:hover {
    transform: scale(1.1);
    background: #37D7FF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* horizontal, vertical, blur, color */
}


.btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


#hero > div > img {
max-height: 60vh;
width: auto;
height: auto;

}

/*.........................About Section.........................*/

.about{
    background-color: #AEDEFC;
    position: relative;
    padding: 3rem 5%;

}
.about >h2 {
    text-align:  center;
    margin-left: 25vh ;
    margin-right: 7vh ;
    font-family: "Boldonse", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;

    opacity: 0;
    animation: slideUp 1s ease-out forwards;

}
.about > p{
    text-align:  center;
    font-size: 1rem; 
    margin-left: 25vh ;
    margin-right: 7vh ;
    color:#42434d ;


    opacity: 0;
    animation: slideUp 1s ease-out forwards;

}

.about-content{

    display: grid;
    grid-template-columns: 35% auto;
    justify-content: center;
    gap: 4rem;
    align-items: center;

    margin-left: 25vh ;
    margin-right: 7vh ;


    animation: slideUp 1s ease-out forwards;
}
.about-content p p {
    margin-top: 0px;
}


.about-left {
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: hidden;
    border-radius: 11px;
    transition: 2s ease;
}
.about-left:hover {
    transform: scale(1.1);
}
.about-left::-webkit-scrollbar {
    display: none;
}


.about-right p {

    text-indent: 2em; /* 3 spaces equivalent */
    line-height: 1.7;
}
.about-right > p:nth-child(4) {
    text-indent: 1px;
}
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 20s infinite linear;
    padding-right: 1em;


}

.about-card{
    width: 350px;
    aspect-ratio: 1 / 1;

    border-radius: 12px;
    flex-shrink: 0;
}
.card-1 {
    background: url(./pictures/Bike.jpg) center / cover no-repeat;
}
.card-2 {
    background: url(./pictures/gang.jpg) center / cover no-repeat;
}

.card-3 {
    background: url(./pictures/gang2.jpg) center / cover no-repeat;
}
.card-4 {
    background: url(./pictures/Emmar.png) center / cover no-repeat;
}
.card-5 {
    background: url(./pictures/predator\ \(1\).jpg) center / cover no-repeat;
}
.card-6 {
    background: url(./pictures/thesis-defended.jpg) center / cover no-repeat;
}


.about-right > p:last-of-type  {
    text-align: justify;
}

.edu-info {
    display: flex;
    gap: 2rem;
    margin-bottom: 5px;
    padding: 20px;
}
.edu.icon {
  font-size: 100px; /* adjust any size you want */
  color: #333;     /* optional */
}

.edu-box {
    padding: 20px 0;
    text-align: center;
    border: 2px  solid #42434d ;
    border-radius: 30px;    
    width: 60%;
    transition: 0.3s ease;
    cursor: pointer;
}
.edu-box:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.edu-box >i {
    color: #050505;
    font-size: 2.1rem;
}
.edu-box p {
    font-size: 0.8rem;
}
/*.........................Portfolio Section.........................*/

.project {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0; 

}

.portfolio-container {

    width: 100%;

    margin: 2rem auto 0 auto; 
    padding: 0 10px; 
    opacity: 0;
    animation: slideUp 1.2s ease-out forwards;

    margin-top: 2rem;
    margin-left: 25vh;
}

.portfolio-container > h3 {
    font-weight: normal;
}

.proj-links {
    width: 100%;
    margin: 15px auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
    gap: 5px;
}

.item-link {
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #a8a9b4;
    cursor: pointer;
    border-radius: 10px;
    transition:  .4s ease;
}
.item-link:hover{
    color: #157992;
}
.menu-active{
    color:#157992;
}

.gallery-proj{
    padding-right: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.project-img{
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(175, 175, 175, 0.4);   
    height: 26rem; 
    animation: SclAnimation .4s ease;
    position: relative;
   
}
.project-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: .4s ease;
    filter: grayscale(80%);
    transform: scale(1);      /* start scale */
    transition: transform .6s cubic-bezier(.2,.8,.2,1), filter .4s ease;
    transform-origin: center center;
    will-change: transform, filter;
}

.project-img:hover img{
    transform: scale(1.8);
    filter: grayscale(0%);
}
.project-img:hover .overlay{
    top: 0;
    opacity: 1;
}

.project-img.hidden {
  display: none !important;
}
/*............ KeyFrames...............*/

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes SclAnimation {
    0%{
        transform: scale(0);
    }  
    100%{
        transform: scale(1);
    }  
}


@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes float {
   0%, 100% { transform: translateY(0); }
   50% { transform: translateY(-26px); }
}

@keyframes tran-scroll {
    from{
        opacity: 0;
        transform:translateX(-100px);
    }
    to {
        opacity: 1;
        transform:translateX(0px);
    }
}

@keyframes clip-scroll {
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0);
    }
}

@keyframes spin {
    from {translate: 0;}
    to{translate:-100%;}
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/*......End of KeyFrames...........*/

.slide-appear {
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
.projs {
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 18%;
}
.slide-appear1 {
    animation: tran-scroll  0.5s ease-out;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.slide-appear2 {
    animation: clip-scroll  0.5s ease-out;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
/*........keyframes declaration..........*/


/*.........................overlay.........................*/
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    opacity: 0;            
    visibility: visible;
    transition: opacity .4s ease, visibility .4s ease;

}

.overlay .overlay-title {
    position: absolute;
    top: 10px;        
    left: 10px;       
    margin: 0;
    padding: 3px 10px;
    color: white;     

    background: #157992;
    font-size: 1rem;
    font-weight:normal;
}
.overlay .overlay-p {
    position: absolute;
    bottom: 10px;        
    right: 10px;       
    margin: 0;
    padding: 5px 10px;
    color: white;     
    font-size: 1rem;
    text-align: center;
    font-weight: no;
}

/*Ariaaa*/
.action-aria{
    display: flex;
    align-items: center;
    gap: 5px;
}

.action-aria i {
    font-size: 2rem;
    font-weight: bolder;
    color: #4464ca;
    transition: .3s ease;
}

/* Glow only on hover */
.action-aria i:hover {
    color: #37D7FF;              /* change color */
    transform: scale(1.2);       
}
/*

/*.........................Certificates Section.........................*/

.certificate {
    background-color: #AEDEFC;
    padding: 40px 20px;
    min-height: 50vh;

}
.certificate > h3 {
    margin-left: 25vh ;
    margin-right: 7vh ;
    font-weight: normal;

}

.certificates-grid {
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: 2rem;
  margin-top: 2rem;
  margin-left: 25vh;

  opacity: 0;
  animation: slideUp 1.2s ease-out forwards;
}

.certificate-card{
    
    text-align: center;
    transition: transform 0.3s ease;
    overflow: hidden;
    border-radius: 8px;  
}

.certificate-card:hover {
    transform: translateY(-10px);

}

.certificate-card img {
    width: 90%;            
    height: 90%;           
    max-height: 550px;      
    object-fit: cover;    
    display: block;        
    border-radius: 5px;     
}


/*.........................Contacts Section.........................*/
.contact {
    padding: 40px 20px;
    height: 80vh;

}
.container-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px 50px 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    margin-left: 25vh ;
    margin-right: 7vh ;
    border-radius: 10px;

    opacity: 0;
    animation: slideUp 1.2s ease-out forwards;

}

/*.........................address block.........................*/
.address  {
    display: flex;   
}
.address-icon, .phone-icon, .email-icon  {
  background-color: #f0f0f0;   /* circle background color */
  color: #37D7FF;                /* icon color */
  padding: 12px;              /* controls circle size */         
  font-size: 20px;            /* icon size */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;                /* circle width */
  height: 25px;
  border-radius: 50%;                /* circle height */
  transition: all 0.4s ease;
}
.address:hover .address-icon {
     background:  #37D7FF;
     color: white
}


/*.........................phone block.........................*/
.phone  {
    display: flex;   
}
.phone:hover .phone-icon {
     background:  #37D7FF;
     color: white
}
.email  {
    display: flex;   
}
.email:hover .email-icon{
    background:  #37D7FF;
    color: white
}

.footer-copy {
    display: flex;
justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  font-size: 16px;
  color: black;
  margin: 10px;
  height: 10vh;
  border-top: #37D7FF;
  background-color: #AEDEFC;
}


/*.........................Loading Screen.........................*/
.loading {
    position: fixed;      /* para fullscreen at naka-overlay */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;        /* full viewport height */
    background: white;    /* or any background */
    z-index: 9999;        /* highest layer */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: opacity 0.3s ease; /* fade out pag mawawala */
}
.loading span {
    width: 4px;
    height: 50px;
    background-color: #37D7FF;
    animation: scale 0.9s ease-in-out infinite;
}
.loading span:nth-child(2) {
    background-color:#157992;
    animation-delay: -0.8s;
}
.loading span:nth-child(3) {
    background-color: #37D7FF;
    animation-delay: -0.7s;
}
.loading span:nth-child(4) {
    background-color: #157992;
    animation-delay: -0.6s;
}
.loading span:nth-child(5) {
    background-color: #37D7FF;
    animation-delay: -0.5s;
}

@keyframes scale {
    0%, 40% ,100% {
        transform: scaleY(0.5);
    }20% {
        transform: scaleY(1);
    }
}

@media (max-width: 1024px) {
  .nav-home {
    display: none;
  }

    .hero {
    flex-direction: column;       
    align-items: center;                         
    padding-top: 8rem;
    height: 40vh;           

  }

  #hero > div > div > h1 {
    font-size: 2.1rem;            
  }

  .main-container {
    flex-direction: column;       
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3rem;
    width: 90%;                  
    gap: 15px;

  }

  .container-item {
    width: 100%;                  
    text-align: center;          
  }

  .container-item p {
    font-size: 0.9rem;              
    padding-bottom: 15px;
  }

  .container-item p span{
    font-weight: 400;
    font-size: 0.9rem;
   
}
  .hero-type::after {
    width: 100%;                
  }
  #hero > div > img {
    display: none;
  }

  .btn{
    height: 40px;
    width: 140px;
    align-self: center;
}
/*........About ..... */

 .about-content {
     grid-template-columns: 1fr; 
     gap: 2rem;
     align-self: center;
    margin-left: 0 ;
    margin-right: 0;
    }

    .edu-box {
        max-width: 80%; 
    }

.about > h2 {
        font-size: 1rem;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
 .about > p {
        font-size: 0.9rem;
        margin-left: 0;
        margin-right: 0;

        text-align: center;
    }


.about-content p p {
text-align: justify;
  text-justify: inter-word;
}
 .edu-box i {
        font-size: 60px;
 }

.edu-info{
    gap: 10px;
}

.about-left  {
    width: 70%;
    margin: 0 auto;
    padding-top: 1rem;
}
/*................Certificate Section */

.certificates-grid {

    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 2.5fr 2.5fr;
    gap: 1rem;
}


.certificate h3{
    margin-left: 0;
    margin-right: 0;
}




.container-contact {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}


.footer-copy {
    margin: 0;
}

#backToTop {
    display: block;
}

.project{
        padding-bottom: 20px;
}

.portfolio-container{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
}   

.proj-links{
        width: 100%;
        justify-content: center;
        margin-left: 0;
} 
.gallery-proj {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
         margin-left: 0 ;
}

.overlay .overlay-title {
    font-size: 0.6rem;
}
.overlay .overlay-p {
    font-size: 0.5rem;
}


}
@media (max-width:991px) {
    .proj-links{
        width: 100%;
    }
    .gallery-proj {
        grid-template-columns: 1fr 1fr;
    }
.about-content {
     grid-template-columns: 1fr; /* stack on smaller screens */
     gap: 2rem;
     align-self: center;
    margin-left: 0 ;
    margin-right: 0;
    animation: none !important;
}
.certificate h3,
.portfolio-container h3 {
    font-size: 0.8rem;
}
.about-right > p:last-of-type  {
    font-size: 1rem;
}
.contact {
    height: 60vh;
}

}
@media (max-width:600px) {
    .proj-links .item-link {
        align-self: center;
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem; /* smaller text on small screens */
    }
    .gallery-proj{
        grid-template-columns: 1fr 1fr;
    }
    .project-img{
        height: max-content;
    }

    .certificates-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .gallery-proj {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

